@font-face {
      font-family: "Aqum";
      src: url("fonts/aqum.otf");
}

body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      color: #454850;
      font-family: Helvetica Neue, Arial, sans-serif;
      background-color: #d9efec;
}


p {
      font-size: 20px;
}

a {
      text-decoration: none;
      color: #fff;
}

a:hover {
      text-decoration: none;
      color: white;
}

.wrapper {
      width: 100vw;
      height: 100vh;
      background: url(img/pilates-d.jpg) no-repeat 49% 50%;
      background-size: cover;

}


.logo {
      line-height: 40px;
      float: left;
      margin: 1.2em 0 0 2.2em;
      font-weight: bolder;
      color: #fff;
      position: relative;
      left: 30px;
      top: 20px;
}

.logo img {
      max-height: 120px;
      box-shadow: 2px 1px 7px 0px #4a6764;
      border-radius: 50%;
}

.logo:hover {
    animation: rotation 1.5s ease-in-out;

}


@keyframes rotation {
    from {
      transform: rotate(0deg);
}
to {
      transform: rotate(359deg);
}
}

nav {
      line-height: 40px;
      right: 0;
}

nav ul {
      position: absolute;
      right: 0%;
      margin: 0px;
      padding-top: 16px;
}


nav ul li {
      float: left;
      list-style: none;
      display: inline-block;
      color: #fff;
      padding-right: 36px;
      text-transform: uppercase;
      font-size: 18px;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      text-align: right;
      box-sizing: border-box;
      padding: 8px 18px;
      cursor: pointer;
      color: #fff;
      display: none;
}

.black-b {
      background: #3b3e42;
}

.black {
      background: #000;
}

#poseban {
      color: #7bd0cc;
      font-weight: bold;
}

.social-media {
      font-size: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
}

.social-media ul li {
      text-shadow: 0px 2px 5px #000;
      list-style: none;
      color: #fff;
      padding-top: 20px;
}

.social-media ul li a {
      display: block;
      height: 100%;
      width: 100%;
}

.side-strip {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -3.5em;
      transform: rotate(90deg);
      color: #fff;
      letter-spacing: 8px;
      font-weight: bold;
}

.header {
      position: absolute;
      top: 38%;
      left: 33%;
      transform: translate(-50%, -50%);
      width: 50%;
      text-align: center;
}

.header h1 {
      color: #fff;
      font-weight: bolder;
}

#ime {
      font-size: 55px;
      color: #7bd0cc;
}

.header h3, .header h6 {
      margin-top: 3%;
      color: #fff;
      font-weight: lighter;
      text-shadow: 3px 5px 13px #000;
}

.header h6 {
      font-style: italic;
      margin-top: 10%; 
      font-size: 1.7rem;
}

.header button {
      margin-top: 12px;
      border: none;
      padding: 20px 40px;
      background: #cbe9e6;
      color: #000;
      letter-spacing: 4px;
      font-weight: bold;
      font-size: 20px;
      border-radius: 15px;
      box-shadow: 4px 3px 12px;
}

.overlay {
      text-align: center;
      z-index: 9;
      position: absolute;
      width: 100%;
      height: 100vh;
      background: #e5f5f3;
      top: 0%:
}

.overlay h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      font-weight: bolder;
      letter-spacing: 12px;
}


/*TRENING*/
.t-body {
      background-color: #e1f3f0;
}

.underline {
      text-decoration: underline;
}
.bold {
      font-weight: bold;
}
.pasus {
      position: relative;
      left: 10vw;
      margin-top: 4vh;
      width: 80vw;
      background-color: #fcfdfd;
      border: solid 1px #3b3e42;
      padding: 2px 8px;
      box-shadow: 9px 20px 20px -18px #000;
}

.pasus h3 {
      font-size: 28px;
      font-weight: bold;
      text-align: center;
      padding-top: 2%;
      padding-bottom: 2%;
}

.pasus p {
      font-size: 24px;
}

.pasus img {
      width: 100%;
      margin-bottom: 20px;
}

/*Cenovnik*/
.cenovnik {
      margin-top: 5vh;
      text-align: center;
      width: 40vw;
      position: relative;
      left: 30vw;
}

.cenovnik ul {
      padding-left: 0px;
      list-style-type: none;
}
.cenovnik ul li{
      font-size: 1.3rem;
}
.cenovnik h4 {
      font-size: 2rem;
      margin-bottom: .8rem;
      text-align: center;
      font-weight: bold;
}
.cenovnik h5 {
      font-weight: bold;
      font-size: 1.4rem;
      text-decoration: underline;
}
.cenodiv {
      background-color: #fcfdfd;
      border: solid 1px #3b3e42;
      margin-bottom: 10%;
      box-shadow: 0px 20px 18px -23px #000;
}
/*RASPORED*/
.raspored {
      margin-bottom: 10vh;
      margin-top: 5vh;
      width: 80vw;
      position: relative;
      left: 10vw;
      text-align: center;
}
.raspored h3 {
      font-weight: bold;
      font-size: 35px;
}

.raspored div{
      width: 40%;
      display: inline-block;
}
.raspored table {
      background-color: white;
      width: 80%;
      margin: auto;
}
.raspored table,th,td {
      border: 1px solid;
}

.raspored th {
      font-size: 22px;
      background-color: #7bd0cc;
}

.raspored td {
      background-color: #e1f3f073;
      font-size: 20px;
}

#merr {
      position: fixed;
      top:80%;
      max-width: 300px;
      left: 1%;
}

/*KONTAKT*/

.wrapperK {
      width: 100vw;
      height: 30vh;
      background: url(img/barre.jpeg) no-repeat 50% 28%;
      background-size: cover;
}

.wrapperK h2 {
      position: absolute;
      text-align: center;
      width: 100%;
      font-weight: bold;
      font-size: 52px;
      color: white;
      top: 15%;
}


.kontakt {
      height: 70vh;
      background-color: #d9f9f6;
      padding-top: 30px;
      text-align: center;
}


.kontakt h6 {
      font-size: 21px;
      font-weight: bold;
}

.kutija {
      box-shadow: 2px 1px 5px 0px;
      max-width: 60%;
      position: relative;
      left: 20%;
      margin-top: 30px;
      height: 50vh;
      border-radius: 3%;
      border: 2px solid #5c6363;
      border-top: 5px solid #7bd0cc;
      overflow: hidden;
      background-color: white;
}

#deo1 {
      float: left;
      overflow: hidden;
      width: 70%;
      height: 100%;
}

#deo1 iframe {
      border-right: solid #727877;
      width: 100% !important;
      height: 100% !important;
}

#deo2 {
      float: right;
      width: 30%;
      position: relative;
      top: 12%;
}

#deo2 a {
      color: #1b8e88;
      font-size: 20px;
}

#deo2 a:hover {
      text-decoration: underline;
}



@media (max-width: 820px) {

      .wrapper {
            width: 100vw;
            height: 100vh;
            background: url(img/pilates-m.jpg) no-repeat 49% 50%;
            background-size: cover;
      }

      .wrapperK {
            background: url(img/barre-m.jpg) no-repeat;
            background-size: cover;
            box-shadow: 0px 2px 20px 0px #000;
      }
      .wrapperK h2 {
            top: 18%;
            right: 0px;
      }

      .menu-icon {
            z-index: 7;
            position: fixed;
            display: block;
      }

      .menu-icon i {
            padding-right: 10px;
            padding-top: 9px;
            text-shadow: 0px 2px 5px #000;
      }

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
            margin-left: 16px; 
            left: 0px;
            z-index: 8;
      }

      .logo img {
            max-height: 60px;
            box-shadow: 0px 2px 5px #000;
      }

      nav { 
            margin: 0px;
            z-index: 6;
      }

      nav ul {
            padding-top: 0px;
            width: 100%;
            max-height: 0px;
            background: #3b3e42;
            overflow: hidden;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            padding: 0px;
            position: fixed;
            z-index: 10;
            top: 90px;
            max-height: 34em;
            transition: 2s;
      }

      nav ul li {
            z-index: 10;
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .side-strip{
            display: none;
      }
      
      .social-media {
            position: fixed;
            left: 28vw;
            font-size: 17px;
            top: 5%;
            z-index: 15;
      }
      .social-media ul li {
            float: left;
            padding-top: 20px;
            padding-left: 30px;
            color: white;
      }


      /*INDEX PAGE MEDIA QUERY*/

      .header {
            transform: none;
            width: 70%;
            top: 32%;
            left: 15%;
      }
      
      .header h1 {
            font-size: 2rem;
      }

      .header h6 {
            font-size: 1.6rem;
            margin-top: 15%;
      }

      .header h3 {
            font-weight: bold;
      }

      #ime {
            font-size: 43px;
      }

      #button {
            display: none;
            padding: 15px 40px;
      }

      /*TRENINZI MEDIA QUERY*/

      .pasus {
            background-color: #fcfdfd;
            border: solid 1px #0006;
            border-radius: 0%;
            width: 90vw;
            left: 5vw;
            padding: 2px 8px;
            padding-bottom: 1vh;
            padding-top: 2vh;
            box-shadow: 0px 20px 18px -23px #000;
      }

      .pasus p {
            font-size: 18px;
      }

      .pasus h3 {
            margin-bottom: 5%;
      }


      /*CENOVNIK MEDIA QUERY*/
      .cenovnik {
            width: 90vw;
            left: 5vw;
      }

      .cenovnik h4{
            font-size: 1.7rem;
      }

      .cenovnik h5 {
            font-weight: bold;
            font-size: 1.4rem;
            text-decoration: underline;
      }

      .cenovnik p {
            font-style: italic;
      }

      .cenovnik ul li {
            font-size: 1.2rem;
      }

      .cenodiv {
            background-color: #fcfdfd;
            border: solid 1px #0006;
            border-radius: 0%;
            margin-top: 10%;
            padding-bottom: 4%;
            padding-top: 4%;
            box-shadow: 0px 20px 18px -23px #000;

      }

      /*RASPORED MEDIA QUERY*/
      .raspored {
            width: 100vw;
            left: 0vh;
      }

      .raspored div {
            box-shadow: 0px 20px 18px -23px #000;
            width: 90vw;
            left: 5vw;
            background-color: #fff;
            border: solid 1px #0006;
            position: relative;
            margin-top: 10%;
            display: block;
            padding-bottom: 7%;
      }
      .raspored h3 {
            margin-top: 10%;
            margin-bottom: 5%;
      }

      .rasporedR {
            
            padding-bottom: 4vh;
      }

      .raspored table {
            table-layout: fixed;
      }

      /*KONTAKT MEDIA QUERY*/
      .kontakt {
            padding-bottom: 30px;
            height: auto;
      }
      .kutija {
            left: 7%;
            max-width: 86%;
            height: auto;
            box-shadow: 0px 20px 18px -23px #000;
            border-radius: 0%;
            border: solid 1px #0006;
      }
      #deo1 {
            float: none;
            width: 100%;
      }
      
      #deo1 iframe {
            border-right: none;
            border-bottom: solid #7278777d;
      }
      #deo2 {
            float: none;
            width: 100%;
      }

}
@media (max-width: 420px) {
      .social-media {
            left: 13%;
      }
}
